[submodule "src/micro"]
	path = src/micro
	url = https://github.com/joshuarli/micro
[submodule "src/fastmod"]
	path = src/fastmod
	url = https://github.com/joshuarli/fastmod
[submodule "src/ripgrep"]
	path = src/ripgrep
	url = https://github.com/joshuarli/ripgrep
