[submodule "src/micro"]
	path = src/micro
	url = https://github.com/joshuarli/micro
[submodule "src/fastmod"]
	path = src/fastmod
	url = https://github.com/joshuarli/fastmod
[submodule "src/ripgrep"]
	path = src/rg
	url = https://github.com/joshuarli/ripgrep
[submodule "src/tmux"]
	path = src/tmux
	url = https://github.com/joshuarli/tmux
[submodule "src/fd"]
	path = src/fd
	url = https://github.com/joshuarli/fd
[submodule "src/alacritty"]
	path = src/alacritty
	url = https://github.com/joshuarli/alacritty
[submodule "src/sym-prototype"]
	path = src/sym
	url = https://github.com/joshuarli/sym-prototype
[submodule "src/srv"]
	path = src/srv
	url = https://github.com/joshuarli/srv
[submodule "src/pulsemixer"]
	path = src/pulsemixer
	url = https://github.com/joshuarli/pulsemixer
[submodule "src/direnv"]
	path = src/direnv
	url = https://github.com/joshuarli/direnv
[submodule "src/delta"]
	path = src/delta
	url = https://github.com/joshuarli/delta
[submodule "src/restic"]
	path = src/restic
	url = https://github.com/joshuarli/restic
[submodule "src/zenith"]
	path = src/zenith
	url = https://github.com/joshuarli/zenith
[submodule "src/dua-cli"]
	path = src/dua-cli
	url = https://github.com/joshuarli/dua-cli
