[submodule "src/micro"]
	path = src/micro
	url = https://github.com/joshuarli/micro
[submodule "src/fastmod"]
	path = src/fastmod
	url = https://github.com/joshuarli/fastmod
[submodule "src/ripgrep"]
	path = src/ripgrep
	url = https://github.com/joshuarli/ripgrep
[submodule "src/tmux"]
	path = src/tmux
	url = https://github.com/joshuarli/tmux
[submodule "src/fd"]
	path = src/fd
	url = https://github.com/joshuarli/fd
[submodule "src/alacritty"]
	path = src/alacritty
	url = https://github.com/joshuarli/alacritty
[submodule "src/sym-prototype"]
	path = src/sym-prototype
	url = https://github.com/joshuarli/sym-prototype
[submodule "src/ydiff"]
	path = src/ydiff
	url = https://github.com/joshuarli/ydiff
[submodule "src/srv"]
	path = src/srv
	url = https://github.com/joshuarli/srv
[submodule "src/ncdu"]
	path = src/ncdu
	url = https://github.com/joshuarli/ncdu
[submodule "src/pulsemixer"]
	path = src/pulsemixer
	url = https://github.com/joshuarli/pulsemixer
[submodule "src/direnv"]
	path = src/direnv
	url = https://github.com/joshuarli/direnv
[submodule "src/volta"]
	path = src/volta
	url = https://github.com/joshuarli/volta
